---
title: VMware Tanzu SQL with MySQL for VMs
---


VMware Tanzu™ SQL with MySQL for VMs is an on-demand service. Users can provision dedicated instances of MySQL using the cf CLI or Apps Manager.

## <a id='AboutTile'></a>About <%= vars.product_short %>

<%= vars.product_short %> enables developers to provision and use
dedicated instances MySQL database on demand.
When you install <%= vars.product_short %>,
the tile deploys and maintains a single service broker that integrates
<%= vars.product_short %> with <%= vars.ops_manager %>.

<%= vars.product_short %> is configured with sensible settings by default so
that the service meets user expectations for a general-use relational database.