---
title: Using SSH to Connect from Outside a Deployment
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides instructions for developers for establishing an SSH tunnel connection to a
<%= vars.product_full %> service instance from outside your deployment.

<p class="note">
   <strong>Note:</strong>
In general, the preferred way you connect to a service instance from outside your deployment
is through service-gateway access.
For information, see <a href="create-service-gateway-instance.html">Creating a Service Instance with Service-Gateway Access</a>.
</p>

## <a id='overview'></a>Overview

You may want to use an SSH tunnel in the following cases:

+ Connecting from a local workstation. For more information, see [<%= vars.product_short %> Tools](./tools.html).
+ Connecting from outside where your <%= vars.product_short %> service instance is located.
+ Connecting from a legacy app that is not in your <%= vars.app_runtime_abbr %> deployment.
+ Taking a manual backup to be stored locally.
  For more information, see [Backing Up and Restoring with mysqldump](./backup-mysqldump.html).

Any app deployed within your deployment can resolve BOSH DNS hostnames and forward
traffic to MySQL service instances using an SSH tunnel.

##<a id='prereq'></a> Prerequisite

To connect using an SSH tunnel, you must have SSH access to app containers.
For more information, see [Configuring SSH Access for <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/pivotalcf/opsguide/config-ssh.html).

##<a id='procedure'></a> Procedure

To connect to a MySQL instance using an SSH tunnel, follow the procedures in
[Accessing Services with SSH](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-services.html).

