---
title: VMware Tanzu SQL with MySQL for VMs
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides an overview of the on-demand <%= vars.product_full %> service.

## <a id='AboutTile'></a>About <%= vars.product_short %>

<%= vars.product_short %> enables developers to provision and use
dedicated instances MySQL database on demand.
When you install <%= vars.product_short %>,
the tile deploys and maintains a single service broker that integrates
<%= vars.product_short %> with <%= vars.ops_manager %>.

<%= vars.product_short %> is configured with sensible settings by default so
that the service meets user expectations for a general-use relational database.

<%= vars.product_short %> supports the following VM topologies:

+ Single node.
+ Leader-follower. For more information,
  see [About Leader-Follower](./about-leader-follower.html).
+ Highly available (HA) cluster.
  For highly available clusters <%= vars.product_short %> uses
  a patched Galera Cluster named Percona XtraDB Cluster (PXC).
    For more information about PXC,
    see [Percona XtraDB Cluster](https://www.percona.com/software/mysql-database/percona-xtradb-cluster).
+  <%= vars.single_leader_plan %>. For more information,
    see [About <%= vars.single_leader_plan %>](./about-multi-site.html).

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
<th>Element</th>
<th>Details</th>
<tr>
  <td>Version</td>
  <td>2.10.7</td>
</tr>
<tr>
  <td>Release date</td>
  <td>March 02, 2022</td>
</tr>
<tr>
  <td>Compatible <%= vars.ops_manager %> versions</td>
  <td>2.10</td>
</tr>
<tr>
  <td>Compatible <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) versions</td>
  <td>2.12, 2.11, 2.10, and 2.7</td>
</tr>
<tr>
  <td>IaaS support</td>
  <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
</tr>
<tr>
  <td>IPsec support</td>
  <td>Yes</td>
</tr>
</table>

## <a id="intro"></a> On-Demand Service

<%= vars.product_short %> is an on-demand service.
This means that the service provides dedicated instances of
MySQL that developers can provision on-demand using the cf CLI or Apps Manager.

With <%= vars.product_short %> you have more options for how and when
instances are provisioned.
<%= vars.product_short %> enables both the operator and developer to configure MySQL settings and
resource use.

The <%= vars.product_short %> on-demand service uses the on-demand service broker.
For information about the on-demand service
broker, see [On-Demand Services SDK](https://docs.pivotal.io/svc-sdk/odb/).

### <a id="service"></a>On-Demand Service Plan

<%= vars.product_short %> offers an on-demand service plan called `p.mysql`.
Operators can configure and update the plan settings.

When operators update the VM or disk size these settings are
applied to all existing instances.
If an operator decreases the disk size, data loss might occur in existing instances.

##<a id="checklist"></a> Enterprise-Ready Checklist

Review the following table to determine if <%= vars.product_short %> has the features needed to support your enterprise:

<table border="1" class="nice">
<tr>
  <th colspan=2>Plans and Instances</th>
  <th>More Information</th>
</tr>
<tr>
  <td>On-Demand, Dedicated-VM Plans</td>
  <td><%= vars.product_short %> provides on-demand service plans.</td>
  <td><a href="./about.html">On-Demand Networking</a></td>
</tr>
<tr>
  <td>Customizable Plans</td>
  <td>Operators can customize the VM, disk size, and availability zone for service plans.</td>
  <td><a href="./install-config.html#active">Configure Service Plans</a></td>
</tr>
<tr>
  <td>Custom Schemas</td>
  <td><%= vars.product_short %> supports custom schemas.
    Using custom schemas enables apps to share a MySQL service instance and
    isolate app data by schema.</td>
    <td><a href="./use.html#schema">Use Custom Schemas</a></td>
  </tr>
<tr><td>Share Service Instances</td>
  <td><%= vars.product_short %> supports sharing service instances between different orgs and spaces.</td>
  <td><a href="use.html#share">Share Service Instances</a></td>
</tr>

<tr>
  <th colspan=2>Installation and Upgrades</th>
  <th>More Information</th>
</tr>
<tr>
  <td>Product Upgrades</td>
  <td><%= vars.product_short %> can be upgraded within the v2 tile series.</td>
   <td><a href="./upgrade.html">Upgrading <%= vars.product_short %></a></td>
 </tr>
<tr>
  <td>Deployment Smoke Tests</td>
  <td><%= vars.product_short %> installations and upgrades run
      a post-deployment BOSH errand that validates basic MySQL operations.</td>
  <td><a href="./errands.html#smoke-tests">smoke-tests</a></td>
</tr>

<tr>
  <th colspan=2>Maintenance and Backups</th>
  <th>More Information</th>
</tr>
<tr>
  <td>Operational Monitoring and Logging</td>
  <td><%= vars.product_short %> provides metrics for monitoring service plan usage, service quotas,
    and MySQL component metrics.
    <%= vars.product_short %> can also forward metrics to an external service.</td>
  <td><a href="./monitor.html">Monitoring <%= vars.product_short %></a></td>
</tr>
<tr>
  <td>Backup and Restore</td>
  <td><%= vars.product_short %> provides backups to an external storage solution on a configurable schedule.
  <%= vars.product_short %> also provides a restore process.</td>
<td><a href="./automated-backup.html">Configuring Automated Backups</a> and
  <a href="./backup-restore.html">Backing Up and Restoring <%= vars.product_short %></a></td>
</tr>

<tr>
  <th colspan=2>Scale and Availability</th><th>More Information</th>
</tr>
<tr>
  <td>Scaling</td><td>Operators can scale the size of VMs up, but not down.</td>
  <td><a href="./install-config.html">Installing Configuring <%= vars.product_short %></a></td>
</tr>
<tr>
  <td>Rolling Deployments</td>
  <td><%= vars.product_short %> supports rolling deployments when upgrading HA clusters.
      However, single node and leader-follower service instances are unavailable during upgrades.
  </td>
  <td><a href="./upgrade.html">Upgrading <%= vars.product_short %></a></td>
</tr>
<tr>
  <td>AZ Support</td>
  <td><%= vars.product_short %> can be deployed to multiple zones to ensure availability if an
    unplanned outage of a zone occurs.</td>
  <td><a href="./recommended.html#azs">About Availability Zones</a></td>
</tr>

<tr>
  <th colspan=2>Encryption</th>
  <th>More Information</th>
</tr>
<tr>
  <td>Transport Layer Security (TLS)</td>
  <td><%= vars.product_short %> supports TLS. Enabling TLS provisions a MySQL server with a certificate
    so that apps and clients can establish an encrypted connection with the data service.</td>
  <td><a href="./prepare-tls.html">Preparing for TLS</a></td>
</tr>
<tr>
<td>Encrypted Communication in Transit</td>
<td><%= vars.product_short %> has been tested successfully with the BOSH IPsec Add-on.</td>
  <td><a href="https://docs.pivotal.io/addon-ipsec/index.html">IPsec Add-on</a></td>
</tr>
</table>

##<a id="feedback"></a> Feedback

Please send any issues, feature requests, or questions to
[the Feedback list](mailto:pivotal-cf–feedback@pivotal.io).
