---
title: Resolving Service Interruptions
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains events in the lifecycle of a <%= vars.product_full %> service instance that may cause temporary service interruptions.

## <a id='service-update'></a>Stemcell or Service Update

An operator updates a stemcell version or their version of <%= vars.product_short %>.

- <strong>Impact:</strong> Apps lose access to the MySQL service while <%= vars.ops_manager %> updates the service instance they are bound to.
The service should resume within 10-15 minutes.
- <strong>Required Actions:</strong> None. If the update deploys successfully, apps reconnect automatically.

## <a id='change-plan'></a>Plan Change

A developer changes their service instance to provide a different service plan, using `cf update-service` or Apps Manager.

- <strong>Impact:</strong> Apps lose access to the MySQL service while <%= vars.ops_manager %> updates the service instance they are bound to. The service should resume within 10-15 minutes.
- <strong>Required Actions:</strong> None. If the plan change deploys successfully, apps reconnect automatically.

## <a id='process-fail'></a>VM Process Failure

A process, like the MySQL server, crashes on the service instance VM.

- <strong>Impact:</strong>
  - BOSH (monit) brings the process back automatically.
  - Depending on the process and what it was doing, the service may experience 60-120 seconds of downtime.
  - Until the process resumes, apps may be unable to use MySQL, metrics or logging may stop, and other features may be interrupted.
- <strong>Required Actions:</strong> None. If the process resumes cleanly and without manual intervention, apps reconnect automatically.

## <a id='vm-fail'></a>VM Failure

A <%= vars.product_short %> VM fails and goes offline due to either a virtualization problem or a host hardware problem.

- <strong>Impact:</strong>
  - If the [BOSH Resurrector](https://bosh.io/docs/resurrector.html) is enabled (recommended), BOSH should detect the failure, recreate the VM, and reattach the same persistent disk and IP address.
  - Downtime largely depends on how quickly the Resurrector notices, usually 1-2 minutes, and how long it takes the IaaS to create a replacement VM.
  - If the Resurrector is not enabled, some IaaSes such as vSphere have similar resurrection or HA features.
  - Apps cannot connect to MySQL until the VM is recreated and the My SQL server process is resumed.
  - Based on prior experience with BOSH Resurrector, typical downtime is 8-10 minutes.
- <strong>Required Actions:</strong>
  - If the VM is part of a leader-follower pair, when the VM comes back, it is read-only.
  Therefore, run the **configure-leader-follower** errand to ensure the leader VM is writable.
  For more information, see [configure-leader-follower](./errands.html#configure-leader-follower)
  in _Running Errands_.
  - If the VM is not part of a leader-follower pair, when the VM comes back, no further action is required for the app developer to continue operations.

## <a id='az-fail'></a>AZ Failure

An availability zone (AZ) goes offline entirely or loses connectivity to other AZs (net split).
This causes service interruption in multi-AZ deployments where [Diego](http://docs.pivotal.io/pivotalcf/concepts/diego/diego-auction.html) has placed multiple instances of a MySQL-using app in different AZs.

- <strong>Impact:</strong>
  - Some app instances may still be able to connect and continue operating.
  - App instances in the other AZs will not be able to connect.
  - Downtime: Unknown
- <strong>Required Actions:</strong>  Recovery of the app / database connection should be automatic. Depending on the app, manual intervention may be required to check data consistency.

## <a id='region-fail'></a>Region Failure

- <strong>Example:</strong> An entire region fails,
bringing <%= vars.app_runtime_full %> components offline.

- <strong>Impact:</strong>
  - The entire installation needs to be brought back up manually.
  - Downtime: Unknown
- <strong>Required Actions:</strong>
Each service instance may need to be [restored individually](./backup-restore.html#restore) 
depending on the restored state of the platform.
