---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest patch for your current minor,
and then upgrade to the latest available patch for the next minor.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.product_full %> containing that patch.

## <a id="2-10-7"></a> v2.10.7

**Release Date: March 02, 2022**

### Resolved Issues

+ **Backups to an Azure blobstore can now be larger than 50&nbsp;GB**:<br/>
  Uploading backups larger than 50&nbsp;GB to an Azure blobstore was failing. 
  This release now supports backups as large as 1000&nbsp;GB to an Azure blobstore.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.196+</td></tr>
  <tr><td>Percona Server</td><td>5.7.35-38</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.35-31.53</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.24</td></tr>
  <tr><td>mysql-backup-release</td><td>2.18.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.41.0</td></tr>

</table>

## <a id="2-10-6"></a> v2.10.6

**Release Date: January 24, 2022**

### Security Fixes

This release includes the following security fixes:

+ **[CVE-2021-44228](https://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-44228) / [CVE 2021-45046](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45046) / [CVE 2021-45105](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105) - Remote code injection in Log4j2:**

  This release updates log4j to v2.17.0 in the sample spring app that is used in the smoke tests errand.

+ The on-demand broker now communicates with the Cloud Foundry Cloud Controller over TLS.

### Resolved Issues

Requests to the CloudFoundry router destined for an HA mysql service instance can now have a header `X-Forwarded-Proto: https`. Previously such requests would have caused an infinite redirect. 

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.196+</td></tr>
  <tr><td>Percona Server</td><td>5.7.35-38</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.35-31.53</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.24</td></tr>
  <tr><td>mysql-backup-release</td><td>2.18.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.41.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-5"></a> v2.10.5

**Release Date: October 14, 2021**

### Features

This release has the following new feature:

+ **Added custom tags for on-demand MySQL service instance VMs:**
There is a new field in the MySQL tile **Settings** page for tags that apply to the Cloud Provider.
The accepted format depends on the underlying Cloud Provider.
For example, Google Cloud Platform does not allow uppercase characters.
For more information, see [Configure Global Settings](./install-config.html#global).

### Resolved Issues

This release has the following fixes:

+ **Fixed incompatibility with stemcell v621.141:**
Incompatibility with stemcell v621.141 or later interfered with two processes:
    + The restore procedure that makes API calls to monit to stop, start, or restart the MySQL process.
    + The bootstrap errand that recovers an HA cluster that has lost quorum.
+ **Backups larger than 50&nbsp;GB now succeed:**
There was a known issue of backups larger than 50&nbsp;GB failing to complete.
Backups can now be as large as 1000&nbsp;GB.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.141*</td></tr>
  <tr><td>Percona Server</td><td>5.7.34–37</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.34–31.51</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.23</td></tr>
  <tr><td>mysql-backup-release</td><td>2.17.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.37.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-4"></a> v2.10.4

**Release Date: August 17, 2021**

### Security Fixes

This release includes the following security fix:

+ **On Multi-Site Replication instances, the admin port on service instances has been removed:**
  Now, Envoy only listens on the MySQL port,
  and multi-site instances do not have any externally available admin interfaces.

### Resolved Issues

This release has the following fixes:

+ **ApplicationDataBackupRestore (adbr) processes running on the service _instances_
  only accept TLS v1.2 connections**:
  Previously, these adbr processes accepted all TLS connections, regardless of version.

+ **Smoke test errands no longer leave orphan routes:**
   Do a one-time cleanup of orphan routes from earlier versions of Tanzu SQL with MySQL for VMs by running:

    ```bash
    cf target -o system -s pivotal-services
    cf delete-orphaned-routes
    ```

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/stemcell-incompatible-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-mysql-backup-50gb-limit" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.135*</td></tr>
  <tr><td>Percona Server</td><td>5.7.34–37*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.34–31.51*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.23*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.17.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.37.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-3"></a> v2.10.3

**Release Date: May 28, 2021**

### Features

New feature in this release:

+ **List as many backups as needed:**
  Previously, the ApplicationDeveloperBackupRestore (adbr) plugin always listed the five most recent backups.

    Now, the adbr plugin accepts an integer parameter to specify how many backups to list.
    The plugin continues to list five backups by default.

    To install the new plugin, see [ApplicationDataBackupRestore](https://plugins.cloudfoundry.org/#ApplicationDataBackupRestore)
    on the Cloud Foundry Community cf CLI Plugins website.
    For how to use the new limit parameter,
    see [Procedure to Restore a Service Instance](backup-restore.html#procedure)
    in _Backing Up and Restoring_.

+ **Configure backup location with bucket path:**
  The tile now accepts an optional field for bucket path.
  This allows backups to be stored with a path like:
  `p.mysql > BUCKET-PATH > service-instance_GUID > yyyy > mm > dd`.

    Previously, the ApplicationDeveloperBackupRestore (adbr) feature stored backup
    artifacts with a path like:
    `p.mysql > service-instance_GUID > yyyy > mm > dd`.

    Existing backup artifacts can still be accessed through the cf CLI using the `adbr` plugin.

    To configure a bucket path, follow the procedure for your external storage solution in
    [Configuring Automated Backups](./automated-backup.html).

### Resolved Issues

This release has the following fix:

+ **ApplicationDataBackupRestore (adbr) processes running on the service _broker_
  only accept TLS v1.2 connections**:
  Previously, these adbr processes accepted all TLS connections, regardless of version.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/stemcell-incompatible-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-mysql-backup-50gb-limit" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.125*</td></tr>
  <tr><td>Percona Server</td><td>5.7.33–36*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.33–33*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.21</td></tr>
  <tr><td>mysql-backup-release</td><td>2.16.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.34.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-2"></a> v2.10.2

**Release Date: March 11, 2021**

### Features

New features and changes in this release:

+ **Support Instance Profiles for backups to S3:**
  <%= vars.product_short %> now supports using instance profiles for backups to Amazon S3.
  <br>
  This is enabled by a radio button on the **Backups** pane of the **<%= vars.product_full %>** tile.
  Configuring the fields under this option allows for backups to Amazon S3 without using static credentials.
  For more information, see
  [Back Up to Amazon S3 with Instance Profile](automated-backup.html#instance-profile).

+ **Avoid filling up the Persistent Disk with Binary Logs:**
  A checkbox restricts the space that binary logs can use on the persistent disk.
  For databases with a high transaction rate, this change prevents database failures due
  to the disk running out of space.
  For more information,
  see [Limit binary log disk use to 33% of disk capacity](./install-config.html#limit-disk-use)
  in _Installing and Configuring_.

### Resolved Issues

This release has the following fix:

+ **ADBR does not show error "Status during Restore Operation"**:
  Previously, the ADBR plugin showed an error status during a restore when the database was unavailable.
  Now, the ADBR plugin reports the restore status as being in progress.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/stemcell-incompatible-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-mysql-backup-50gb-limit" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.101*</td></tr>
  <tr><td>Percona Server</td><td>5.7.32–35*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.32–31*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.21*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.16.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.33.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-1"></a> v2.10.1

**Release Date: February 4, 2021**

### Resolved Issues

This release has the following fix:

+ **Correctly enforce TLS v1.2**: Previously, operators could not disable TLS v1.2 using the tile.
    Now, operators can upgrade all service instances to disable TLS v1.2 based on the tile configuration.
    <br><br>
    This fix resolves the breaking change issue in v2.10.0. See [v2.10.0](#2-10-0).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>
<%= partial vars.path_to_partials + "/mysql/stemcell-incompatible-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-mysql-backup-50gb-limit" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.95*</td></tr>
  <tr><td>Percona Server</td><td>5.7.31–34</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.31–34</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.31.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-10-0"></a> v2.10.0

**Release Date: December 8, 2020**

<p class="note breaking"><strong>Breaking Change</strong>:
Before you upgrade to <%= vars.product_full %> v2.10, ensure that
your apps support connecting to the MySQL database using TLS v1.2.
This might require updating the MySQL connector.
For example, if you are using MySQL Connector/J,
use MySQL Connector/J v8.0.8 or later or v5.1.44 or later.
</p>

### Features

New features and changes in this release:

+ **External access to the MySQL database through Service-Gateway:** By enabling service-gateway access,
  operators and developers can allow MySQL service instances to be accessed from outside
  <%= vars.app_runtime_full %> platform.
  For more information, see [About Service-Gateway Access](./service-gateway-access.html).

+ **Option to restrict MySQL client connections to TLS v1.2:** When TLS is enabled,
  operators can choose to enforce TLS v1.2 as the minimum TLS version for client connections.
  Connections that use the TLS v1.1 protocol or older are then rejected by the MySQL server.
  For more information, see [Configure TLS](install-config.html#security-tls)
  in _Installing and Configuring_.

+ **Backup artifacts are organized under subfolders in external storage:** Previously, the Application
  Developer Backup and Restore (ADBR) feature stored backup artifacts in the root directory in external storage.
  For easier navigation, backup artifacts are now stored under
  `p.mysql > service-instance_GUID > yyyy > mm > dd`.
  Old backup artifacts stored in the root directory can still be accessed through the cf CLI
  using the adbr plugin.

+ **<%= vars.single_leader_plan %> GA:** The <%= vars.single_leader_plan %> feature is officially
  generally available in this release. There have been no changes to the feature since v2.9.1.

+ **Percona Server:** Upgraded to v5.7.31–34.

+ **Percona XtraDB Cluster:** Upgraded to v5.7.31–34.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>
<%= partial vars.path_to_partials + "/mysql/stemcell-incompatible-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-mysql-backup-50gb-limit" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-blob-store-base-url" %>


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.93*</td></tr>
  <tr><td>Percona Server</td><td>5.7.31&ndash;34</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.31&ndash;34</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.31.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
