---
title: Rotating Certificates
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how to check expiration dates and rotate certificates used by <%= vars.product_full %>.

## <a id="tls"></a> Rotate Services TLS Certificate Authority

<%= partial vars.path_to_partials + "/certs/rotating-certs" %>


## <a id="mysql-certs"></a> Certificates Used by <%= vars.product_short %>

If you are using <%= vars.ops_manager %> v2.9 or later, you can rotate all MySQL
certificates in the table below using CredHub Maestro.
For <%= vars.ops_manager %> v2.9 and earlier, you can rotate the Services TLS CA
using a manual procedure.
For more information about procedures to use to rotate certificates, see
[Rotate Services TLS Certificate Authority](#tls) above.


The following table lists the certificates used by <%= vars.product_short %>:
<table>
  <tr>
    <th width="75%">Certificate</th>
    <th>Rotated by <%= vars.product_short %>?</th>
  </tr>
  <tr>
    <td><code>/services/tls_ca</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/opsmgr/pivotal-mysql-GUID/adbr_api_cert</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/pivotal-mysql-GUID/agent_ca_2_9_x</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/pivotal-mysql-GUID/agent_client_ssl_2_9_x</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/pivotal-mysql-GUID/agent_server_ssl_2_9_x</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/pivotal-mysql-GUID/services_tls_accessor_cert</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/adbr_agent_cert</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/agent_ca</code></td>
    <td>No</td>
  </tr>

  <tr>
    <td><code>/p-bosh/service-instance_GUID/agent_client_tls</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/agent_server_tls</code></td>
      <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/mysql_server_tls</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/pxc_internal_ca</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/pxc_tls_ca</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/pxc_tls_server</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/restore_ca</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/restore_client_tls</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/restore_server_tls</code></td>
    <td>No</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/streaming_backup_ca</code></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><code>/p-bosh/service-instance_GUID/streaming_backup_server_cert</code></td>
    <td>Yes</td>
  </tr>
</table>

In the table above, `GUID` is the GUID for the service instance. To find the GUID
for your service instance, follow the procedure in
[Find Information about Your Service Instance](./troubleshoot-instances.html#instance).

If you are using a PXC-type database, <%= vars.product_short %> rotates the Galera certificate by renaming it.
