---
title: Upgrading VMware Tanzu SQL with MySQL for VMs
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains how to upgrade the <%= vars.product_full %> service and existing service instances.
It also explains the service interruptions that can result from service changes and upgrades and from
failures at the process, VM, and IaaS level.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="upgrade-service"></a>Upgrade <%= vars.product_short %>

To upgrade the <%= vars.product_short %> service, follow the <%= vars.ops_manager %> process that you
use to install the service for the first time.
Your configuration settings migrate to the new version automatically.

To upgrade <%= vars.product_short %>:

1. Review the [Release Notes](./release-notes.html) for the version you are upgrading to.

1. Download the Ubuntu Xenial stemcell from
[<%= vars.product_network %>](https://network.pivotal.io/products/stemcells-ubuntu-xenial),
and import it into the <%= vars.ops_manager %> Stemcell Library.
For instructions, see [Verify Stemcell Version and Apply All Changes](./install-config.html#stemcell).

1. Download the desired version of the product from
[<%= vars.product_network %>](https://network.pivotal.io/products/p-mysql).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and
click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **<%= vars.product_short %>**.
This adds the tile to your staging area.

1. Click the newly-added **<%= vars.product_short %>** tile to review its configuration panes.
Click **Save** on any panes where you make changes.
    <p class="note"><strong>Note:</strong> To decrease the runtime for service instance upgrades,
      configure the <code>upgrade-all-service-instances</code> errand in the tile.
      For instructions about configuring this errand,
      see <a href="./install-config.html#service-instance-upgrades">Configure Service Instance Upgrades</a>.

    </p>

1. (Optional) If you want developers to individually upgrade service instances, navigate
to the **Errands** pane and select **Off** for **Upgrade all On-demand MySQL Service Instances**.
<br><br>
By default, the `upgrade-all-service-instances` errand runs after each upgrade.
For more information, see
[About Individual Service Instance Upgrades](#individual-upgrades) below.

1. Navigate to **<%= vars.ops_manager %> Dashboard** > **Review Pending Changes**.
For more information about this <%= vars.ops_manager %> page,
see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. For the <%= vars.product_short %> tile, enable the **Register On-demand MySQL Broker** errand if the errand is not already enabled.

1. Click **Apply Changes**.

Upgrading the <%= vars.product_short %> service and service instances can temporarily interrupt
the service.
For more information, see [Service Interruptions](#interruptions) below.

### <a id="individual-upgrades"></a> About Individual Service Instance Upgrades

<%= partial vars.path_to_partials + '/services/devs-can-upgrade-one-si' %>

## <a id="interruptions"></a>Service Interruptions

Service changes and upgrades and failures at the process, VM, and IaaS level can cause outages
in the <%= vars.product_short %> service, as described below.

Read this section if:

+ You are planning an upgrade.
+ You are experiencing a service interruption and are wondering why.
+ You are planning to update or change a service instance and want to know if it might cause a service interruption.

### <a id='service-update'></a>Stemcell or Service Update

An operator updates a stemcell version or their version of <%= vars.product_short %>.

- <strong>Impact:</strong> Apps lose access to the MySQL service while <%= vars.ops_manager %>
 updates the service instance they are bound to.
          The service should resume within 10–15 minutes.
- <strong>Required Actions:</strong> None. If the update deploys successfully, apps reconnect automatically.

### <a id='change-plan'></a>Plan Change

A developer changes their service instance to provide a different service plan, using `cf update-service` or Apps Manager.

- <strong>Impact:</strong> Apps lose access to the MySQL service while <%= vars.ops_manager %>
updates the service instance they are bound to.
          The service should resume within 10–15 minutes.
- <strong>Required Actions:</strong> None. If the plan change deploys successfully,
apps reconnect automatically.

### <a id='upgrade-interruption'></a>Service Broker Deployments

Automated backups are not taken during service broker deployments.

When the service broker is unavailable, such as during upgrades and redeployments,
automated backups fail.
Automated backups resume according to schedule when the service broker is online again.

For general information about backups, see [Backing Up and Restoring <%= vars.product_full %>](backup-restore.html)
and [Configuring Automated Backups](automated-backup.html).
